@import url("https://fonts.googleapis.com/css?family=Open Sans:400,600");

body a {
  color: #076293;
  text-decoration:underline;
 
}

body {color:#000; background: rgb(247,247,247);}


/*.container {border-right:1px solid #eee; border-left:1px solid #eee;}*/

body a:hover {text-decoration:underline;}

#wrap {
  margin-top: 0;
  margin-bottom: 0;
  background: #fff;
  padding: 0 30px;
}

hr {
    border: solid #eee;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
    margin: 0; }
	
	.region-content-top {
     margin:  0;
}

p {
    margin: 0 0 10px;
}

#main h2 {padding:0 0 20px 0;}
#secondary h2 {padding:2px 5px;}

input[type="submit"], input[type="submit"]:hover {
	background-color:#2196f3;
	background-image:none;
   color:#fff;
border:0px solid#fff;
    border-radius: 4px;
   
    box-shadow: none;
   
   text-shadow:none;
    position: relative;
    font-weight: bold;
    padding: 4px .8em 5px .8em;
    font-size: 13px;}
	
.subscribe-form {padding:10px; border:1px solid #E91E63; background-color:#E91E63; color:#fff; border-radius:5px; max-width:300px; margin-bottom:10px;}
	
.sidebar-container .block { 
    margin-bottom: 20px;
}
.sidebar-container .block > h2 {color:#fff !important; background: #076293; padding:2px 5px; border-radius:2px; font-size:1.1em;}
.sidebar-container .block > h2 a {text-decoration:none; color:#fff;}

#site-navigation-wrap {
  background: #076293;
  margin: 0 -30px 10px;
  height: 55px;
}

#footer-wrap {
  background: #fff;
  margin: 40px -30px 0;
  padding: 30px;
  overflow: hidden;
  border-top:1px solid #eee;
}

#copyright-wrap {
  background: #fff;
  border-top: 1px solid #eee;
  margin: 0 -30px 0;
  padding: 20px 30px;
  color: #666;
  text-align: center;
}

#copyright a:hover {color:#000;}

#site-navigation #main-menu > ul a {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  text-align: left;
  cursor: pointer;
  padding: 0 20px;
}

#footer-wrap .block > h2 {
  color: #076293;
  font-size: 1.25em;
  margin: 0 0 15px;
}

#footer-wrap a {
  color: #0033ba;
}

#header {
  text-align: left;
  padding: 0 0;
  position: relative;
}

#site-logo img {max-width:400px;}

.page-node #content-wrap img {
  border: 0px solid #CCCCCC;
  padding: 6px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  height: auto;
  max-width: 97.4%;
  margin: 0.5em 1em 0.5em 0;
}

.node h2.title a{
 
  text-decoration:none;
}

.links li a {
  background-color:#fff;
  color: #100100;
  padding: 4px 5px;
  border-radius:none;
  text-shadow: none;
  font-size:.8em;
  font-weight: normal;
}

.links li a:hover {
  background-color:#fff;
  color: #0033ba;
  padding: 4px 5px;
  border-radius:none;
  text-shadow: none;
  font-size:.8em;
  font-weight: normal;
}

tr.odd {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  padding: 0.1em 0.6em;
}

tr.even {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 0.1em 0.6em;
}

#preface-wrap {
  padding: 0 0 0;
}

.region-header {margin-bottom:-40px;}

input[type="checkbox"] {margin-right:10px;}

#form-name  {font-size:24px; 
min-height: 24px;!important;}
#total {color:#F00; min-height:20px;font-size:20px;}

#leave-form  {border:1px solid #fff; color:#000;}

td hr {border: solid #eee;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
  margin: 0;!important;}
  
 #print-button{border:1px solid #C60; padding:5px 8px; border-radius:4px; background-color:#C60; color:#fff; font-weight:bold; font-size:20px; text-decoration:none; margin-bottom:20px; position:relative; float:right;}
 #print-button:hover{background-color:#076293;}

@media print
{    
    #site-navigation-wrap, #username, #preface-wrap input[type="text"], #search-block-form input.form-submit, #search-form input.form-submit, #search-block-form input.form-submit, #preface-wrap input[type="text"], #preface-wrap input[type="search"], #print-button, .field-name-field-tags, #footer-wrap, #footer, #copyright-wrap, .tabs, #breadcrumbs, #toolbar, .toolbar-menu, #header-wrap, .statistics_counter, img *
    {
        display: none !important;
		height:0 !important;
    }
	#leave-form table, tr, td {border:1px solid #fff; color:#000;}
	#leave-form{color:#000;}
	#form-name {border:none;}
	#total {color:#000; border:none;}
	td hr {border: solid #000;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
  margin: 0;!important;}
	

}

.field-name-field-tags a {
  background: #02aace;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 2px;
  color: #fff;
  font-size: 0.929em;
  padding: 2px 6px;
  text-decoration:none;
}

.field-name-field-tags a:hover {
	 text-decoration:none; }
	 
.field-name-field-tags .form-type-checkbox {
  display: block;
}

/*#edit-search-block-form--2 {display:none; height:0; position:absolute;}*/

.field-name-field-tags div a {display:inline;}

#preface-wrap input[type="text"], #preface-wrap input[type="search"] {border:0px solid silver; border-radius:2px; float:right; position:relative; margin-right:30px; margin-top:-50px; padding-left:10px;}
#search-block-form input.form-submit {float:right; position:relative; margin:-50px -10px 0 0;}

#search-block-form input.form-submit, #search-form input.form-submit {
  margin-left: 0;
  margin-right: 0;
  height: 25px;
  width: 25px;
  border-radius:100%;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
 border-color:#fff;
 background: url(../../multipurpose/images/search-button.png) no-repeat center top;
  background-color:#fff;
  overflow: hidden;

 
}

.search-form {margin-bottom:0;}

#username {float:right; margin:-35px 50px 0 0; font-size:11px; position:relative;}

th a {color:#fff; text-decoration:none;}
th a:hover {color:#fff; text-decoration:underline;}

ul.primary li a:hover, ul.primary li a.active {
  background: #02aace;
  border: none;
  color: #fff;
}

ul.primary li a {
  background: none;
  border: none;
  display: block;
  float: left;
  line-height: 1.5385em;
  margin: 0;
  padding: 0 1em;
  border-radius: 2px 2px 0 0;
  margin-right: 5px;
}
.tabs-wrapper {
  border-bottom: 1px solid #eee;
  margin: 0 0 5px 0;
}

pre {
  background: #f9f9f9;
  padding: 20px;
  margin-bottom: 30px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  font-family: 'Monaco';
}
.item-list .pager li {
   background: #fff;
    border-radius: 1px;
    margin-right: 4px;
    text-shadow: 1px 1px #fff;
}

/* line break for search results from document content */
.search-snippet span:before {
    content:"\a \a";
    white-space: pre;
}
/*Color sidebar sections to match categories on homepage*/
#block-views-newsletter-archive-block h2 {background-color:#2196f3;}
#block-views-calendar-block-2 h2 {background-color:#9c27b0;}
#block-block-14 h2 {background-color:#FF5722;}
#block-block-24 h2 {background-color:#009688;}
#block-facetapi-giiy4zr9gu0zsa0bumw1y9qiipidf1wu h2 {background-color:#CDDC39; color:#000; padding:5px 10px; margin-bottom:20px;}
#block-apachesolr-search-mlt-001 h2, #block-apachesolr-search-sort h2 {background-color:#CDDC39; color:#000;}
#block-book-navigation h2 {background-color:#2196F3; color:#fff;}
#block-book-navigation {background-color:#eee; border-radius:5px; padding-bottom:5px;}


#site-navigation #main-menu > ul ul li a:hover {background-color:#02aace; color:#fff;}

.field-name-field-event-date, .field-name-field-event-location, .date-display-range, .date-display-single, .field-name-og-group-ref {
    position:relative;
}    
.date-display-single:before {
   font-family: FontAwesome;
        top:0;
        left:-40px;
        padding-right:10px;
        content: "\f073"; 
		font-size:18px; 
		
 }
 .field-name-field-event-date, .field-name-field-event-location{color:#9c27b0; margin-left:40px;}
 
 .field-name-field-event-location:before, .event-location:before {
   font-family: FontAwesome;
        top:0;
        left:-40px;
        padding-right:5px;
        content: "\f19c"; 
		font-size:18px; 
		
 }
 .date-display-range:before {
   font-family: FontAwesome;
        top:0;
        left:-40px;
        padding-right:15px;
        content: "\f017"; 
		font-size:18px; 
	
 }
 
  .field-name-field-event-location {margin-bottom:20px;}
 
 .event-location {border-bottom:1px solid #ddd; margin-bottom:10px;padding-bottom:10px;}
 
 .upcoming-event, .event-location, .event-title {color:#9c27b0; font-size:12px; line-height:18px;}
 
 .field-name-og-group-ref:before {
   font-family: FontAwesome;
        top:0;
        left:-40px;
        padding-right:5px;
        content: "\f0c0"; 
		font-size:18px; 
		color:#4caf50;
		
 }
 
 #facetapi-facet-apachesolrsolr-block-bundle {margin-bottom:20px;}
 
 .search-snippet {overflow:hidden; text-overflow: ellipsis;}

.field-label {background-color:#009688; padding:2px 5px; color:#fff; border-radius:2px; margin:10px 0;}

.gmail_quote table, .gmail_quote td {border:none !important; margin:0 !important; }
.newsletterformat td {border:none !important; margin:0 !important; padding:0 !important; }
.newsletterformat td br {display:none !important;}
.newsletterformat td a {color:#06F !important;}
/*.mcnTextContent br {display:none !important;}*/

/*br  {
    content: ' '
}
br:after {
    content: ' '
}*/


.newsletterformat {max-width:600px !important;}

.newsletterformat table{max-width:500px !important;}

.newsletter-hide {display:none;}


 .at-a-glance table {border:none !important;}
#bodyTable {border:none !important;}

.newsletterformat table, .newsletterformat td {border:none !important; margin:0 !important; }
.newsletterformat .mcnButton {color:#fff !important; padding:20px 10px;}

.newsletterformat .preheaderContainer {display:none !important;}

.newsletterformat .mcnImageBlockOuter {max-width:500px !important;}

.newsletterformat td .mcnButtonContent {margin-bottom:20px !important;}

.newsletterformat h1 {border-radius:2px !important; margin-bottom:10px !important;}

.newsletterformat .mc-toc-title {border-radius:2px !important; margin-bottom:10px !important;}

.newsletterformat style, .newsletterformat xml, .newsletterformat title {display:none; height:0;}

.view-grouping-header .field-name-field-university {background-color:#09F; padding:10px; color:#fff;}

.print-friendly {font-size:11px; display:inline; margin-left:5px;}

caption {background-color:#076293; padding:10px; color:#fff;}
caption a {color:#fff; text-decoration:none;}
caption a:hover {color:#fff; text-decoration:underline;}
.book_printer {display:none !important;}

.book-navigation .page-links {background-color:none; margin:20px 0;}

.book-navigation .page-next {
    text-align: right;
    width: auto;
    display: block;
    float: right;
	background-color:#009688;
	color:#fff;
	padding:5px 10px;
	border-radius:5px;
	text-decoration:none;
	font-weight:bold;
}

.book-navigation .page-previous {
    text-align: right;
    width: auto;
    display: block;
    float: left;
	background-color:#009688;
	color:#fff;
	padding:5px 10px;
	border-radius:5px;
	text-decoration:none;
	font-weight:bold;
}
.book-navigation .page-up {
    display:none;
	
   /* width: auto;
    display: block;
	float:left;
	background-color:#009688;
	color:#fff;
	padding:10px;
	border-radius:5px;
	text-decoration:none; */
}

.book-navigation .page-links {
    border-top: 1px solid #eee;
    border-bottom: 0px solid #888;
    text-align: center;
    padding: 0.5em;
}

.qa-list {border-bottom:1px solid silver !important; margin:20px 0 !important; padding-bottom:20px;}

.field-type-taxonomy-term-reference {margin:20px 0;}
.field-type-taxonomy-term-reference a {margin:0 0 0 10px;}

#content h2.comment-form {background-color:#eee; vertical-align:middle; padding:10px; margin:0 -20px 0;}
#comments .username {margin:0 0 0 10px;}
.comment-wrapper {border-right:1px solid #eee; border-bottom:1px solid #eee; border-left:1px solid #eee; padding: 0 20px 5px;}
.forum-starter-picture {display:none;}



@media print {
	
	.sidebar-container {display:none; width:0;}
	#main {margin-top:-200px;}
	.left-content {width:100%;}
	#comments {display:none;}
	a, body a {color:#000;}
	caption a {color:#000; text-decoration:none;}
	.odd {border-bottom:1px solid silver;}
 
}