@charset "UTF-8";
/* CSS Document */

/*@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}*/

@font-face {
	font-family: 'Product Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}
body {
	color:#202124;
	/*font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; */
	font-family:'Product Sans';
	font-weight:400;
}
a {
	color:#1a73e8;
	text-decoration:none;
	font-weight:400;
}

a:HOVER {text-decoration:underline;}
th {
	background: #eee;
	border-right: 1px solid #c8c7c7;
	color: #000;
	padding: 10px;
	font-weight: bold;
}
td {
	color:#202124;
	text-align:inherit;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	font-family:'Product Sans';
	margin-bottom: 8px;
	color:#202124;
}
h1.page-title {
	margin-top:10px;
}
.block > h2, .profile h3, .field-label {
	padding: 10px;
	font-weight:400;
	overflow: hidden;
	line-height: 100%;
	background-color: rgba(66,133,244,0.149);
	border-radius: 0 10px 10px 0;
	color: #1a73e8;
}
.top_right {
	float: right;
	margin: 28px 0 0;
}
#site-title a {
	float: left;
	font-weight: normal;
	color: #fff;
}
#site-description {
	margin: 0;
	float: left;
	clear: both;
	color: #fff;
	font-size: 13px;
	line-height: 120%;
	font-weight: normal;
}
#header_wrapper {
	position: relative;
	z-index: 9;
	background-color: #1976D2;
}
article {
	display: block;
	border: 1px solid #ddd;
	padding: 20px;
	border-radius: 10px;
}
#main-menu a {
	padding: 12px 10px;
	display: block;
	text-decoration: none;
	color: #fff;
	line-height: 100%;
	white-space: nowrap;
	text-transform:capitalize;
	font-weight: 400;
	font-family: 'Product Sans';
}
#main-menu a:HOVER {
	color:#eee!important;
}
/*#main-menu a:hover {
    
    color: #202124 !important;
}*/

#main-menu li li a {
	min-width: 150px;
	margin: 0;
	border-bottom: 1px solid #ddd;
	text-align: left;
	overflow: hidden;
	padding: 15px 15px;
	color: #000;
}
#main-menu li li:hover >a {
	color: #1a73e8 !important;
}
#main-menu li a.active {
	background: #fff;
	/* border-bottom: 4px solid #226EB8; */
    border-radius: 5px 5px 0 0;
	font-weight: bold;
	color: #000 !important;
}
#main-menu li a.active:hover {
	color:#000;
}
#main-menu li:hover >a {
	color: #1a73e8;
}
#main-menu ul {
	float: left;
	padding: 0;
	margin: 0;
	border-bottom: 0px solid #ddd;
}
.page-blog article footer, article footer {
	/* background: #F3F3F3;
    padding: 5px 10px;
    border: 1px solid #E7E7E7;
    border-radius: 5px;
	width:150px;*/
	background:none;
	padding:0;
	border:none;
}
article .links.inline {
	display:none;
}
/*.field-name-og-group-ref:before {
    font-family: FontAwesome;
    top: 0;
    left: -40px;
    padding-right: 5px;
    content: "\f0c0";
    font-size: 14px;
    color: #000;
}*/

li.expanded a {
	color:#fff !important;
}
li.expanded ul li a {
	color:#000 !important;
}
.filter-wrapper {
	border: none;
}

.bottomMenu {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    border-top: 0px solid #000;
    background:#1976D2;
    z-index: 1;
}

.type-newsletter {
	text-transform:capitalize;
}
#block-block-53 h2:before {
	font-family: FontAwesome;
	top: 0;
	left: -40px;
	padding-right: 5px;
	content: "\f017";
	font-size: 20px;
	color: #1a73e8;
}

#block-block-24 h2:before {
	font-family: FontAwesome;
	top: 0;
	left: -40px;
	padding-right: 5px;
	content: "\f233";
	font-size: 20px;
	color: #1a73e8;
}

#block-block-33 h2:before {
	font-family: FontAwesome;
	top: 0;
	left: -40px;
	padding-right: 5px;
	content: "\f06a";
	font-size: 20px;
	color: #1a73e8;
}
#block-views-newsletter-archive-block h2:before {
	font-family: FontAwesome;
	top: 0;
	left: -40px;
	padding-right: 5px;
	content: "\f1ea";
	font-size: 20px;
	color: #1a73e8;
}
#block-system-user-menu h2:before {
	font-family: FontAwesome;
	top: 0;
	left: -40px;
	padding-right: 5px;
	content: "\f013";
	font-size: 20px;
	color: #1a73e8;
}
#block-views-popular-block h2:before {
	font-family: FontAwesome;
	top: 0;
	left: -40px;
	padding-right: 5px;
	content: "\f0aa";
	font-size: 20px;
	color: #1a73e8;
}
#block-block-32 h2:before {
	font-family: FontAwesome;
	top: 0;
	left: -40px;
	padding-right: 5px;
	content: "\f201";
	font-size: 20px;
	color: #1a73e8;
}
#block-block-11 h2:before {
	font-family: FontAwesome;
	top: 0;
	left: -40px;
	padding-right: 5px;
	content: "\f129";
	font-size: 20px;
	color: #1a73e8;
}
#block-block-13 h2:before {
	font-family: FontAwesome;
	top: 0;
	left: -40px;
	padding-right: 5px;
	content: "\f0e0";
	font-size: 20px;
	color: #1a73e8;
}
#block-block-20 h2:before {
	font-family: FontAwesome;
	top: 0;
	left: -40px;
	padding-right: 5px;
	content: "\f21b";
	font-size: 20px;
	color: #1a73e8;
}
#block-block-21 h2:before {
	font-family: FontAwesome;
	top: 0;
	left: -40px;
	padding-right: 5px;
	content: "\f0a1";
	font-size: 20px;
	color: #1a73e8;
}
#block-views-calendar-block-2 h2:before {
	font-family: FontAwesome;
	top: 0;
	left: -40px;
	padding-right: 5px;
	content: "\f073";
	font-size: 20px;
	color: #1a73e8;
}
#block-menu-menu-my-intranet h2:before {
	font-family: FontAwesome;
	top: 0;
	left: -40px;
	padding-right: 5px;
	content: "\f007";
	font-size: 20px;
	color: #1a73e8;
}
#block-user-login h2:before {
	font-family: FontAwesome;
	top: 0;
	left: -40px;
	padding-right: 5px;
	content: "\f007";
	font-size: 20px;
	color: #1a73e8;
}
.type-newsletter:before {
	font-family: FontAwesome;
	top: 0;
	left: -40px;
	padding-right: 5px;
	content: "\f1ea";
	font-size: 14px;
	color: #ff7043;
}
.node-type:before {
	font-family: FontAwesome;
	top: 0;
	left: -40px;
	padding-right: 5px;
	content: "\f0c0";
	font-size: 14px;
	color: #4caf50;
}
.type-committeepost:before {
	font-family: FontAwesome;
	top: 0;
	left: -40px;
	padding-right: 5px;
	content: "\f0c0";
	font-size: 14px;
	color: #4caf50;
}
.type-alert:before {
	font-family: FontAwesome;
	top: 0;
	left: -40px;
	padding-right: 5px;
	content: "\f06a";
	font-size: 14px;
	color: #ff0000;
}
.type-event:before {
	font-family: FontAwesome;
	top: 0;
	left: -40px;
	padding-right: 5px;
	content: "\f073";
	font-size: 14px;
	color: #2962ff;
}
.type-post:before {
	font-family: FontAwesome;
	top: 0;
	left: -40px;
	padding-right: 5px;
	content: "\f11c";
	font-size: 14px;
	color: #ff0000;
}
.type-book:before {
	display:none;
}
#logo img {
	display: block;
	height: 40px;
}
.slideshow-wrap {
	display: none;
}
article .title a {
	font-weight:normal;
	color:#202124;
}
article .title a:hover {
	text-decoration:underline;
}
.node {
	margin: 10px 0;
	padding:12px;
}
#main-menu li ul {
	display: none;
	position: absolute;
	z-index: 9999;
	color: #000;
	padding: 0;
	margin: 0;
	background: #fff;
	overflow: visible !important;
	border: 1px solid #ddd;
	border-radius: 10px;
}
#block-block-56 H2 {
	background-color:#4caf50;
	color:#fff;
}
#block-block-26 H2 {
	background-color:#f44336;
	color:#fff;
}
.drop-down-arrow {
	display: block;
	width: 0;
	height: 0;
	margin: 7px 0 0 4px;
	border-top: 7px solid #fff;
	border-left: transparent 7px solid;
	border-right: transparent 7px solid;
}
.drop-down-toggle {
	position: absolute;
	top: 8px;
	right: 16px;
	display: none;
	width: 25px;
	height: 25px;
	border-radius: 15px;
	background: none;
	border: 0px solid #fff;
}
.content.node-committee-post {
	margin-top:1px;
}
#footer-area {
	margin: 1px auto 20px;
}
/*.content.node-newsletter {margin-top:-60px !important;}*/

.node-newsletter table, .node-newsletter table td, .node-newsletter table tr {
	border:none !important;
	margin:0 !important;
	padding:0 !important;
}
.node-newsletter .mc-toc-title {
	background-color:#448AFF !important;
	border-radius: 0 10px 10px 0;
	padding:10px !important;
}
.node-newsletter .mcnButton {
	background-color: #C2185B !important;
	padding: 10px;
	width: 200px;
	border-radius: 10px;
}
.node-newsletter .mcnDividerBlock {
	display:none !important;
}
.node-newsletter .mcnBoxedTextBlockInner {
	margin:0 !important;
}
#post-content .page-title {
	font-family:'Product Sans';
	font-weight:500;
	font-size:2.5em;
	line-height:1.2em;
	margin-bottom: 20px;
}
#main-menu li.expanded >a::after {
	font-family: "FontAwesome";
	font-weight: 100;
	content: " \f107";
	color:#1a73e8;
}
.gmail_quote table, .gmail_quote td {
	border:none !important;
	margin:0 !important;
}
.newsletterformat td {
	border:none !important;
	margin:0 !important;
	padding:0 !important;
}
.newsletterformat td br {
	display:none !important;
}
.newsletterformat td a {
	color:#06F !important;
}
/*.mcnTextContent br {display:none !important;}*/

/*br  {
    content: ' '
}
br:after {
    content: ' '
}*/


.newsletterformat {
	max-width:600px !important;
}
.newsletterformat table {
	max-width:500px !important;
}
.newsletter-hide {
	display:none;
}
.at-a-glance table {
	border:none !important;
}
#bodyTable {
	border:none !important;
}
.newsletterformat table, .newsletterformat td {
	border:none !important;
	margin:0 !important;
}
.newsletterformat .mcnButton {
	color:#fff !important;
	padding:20px 10px;
}
.newsletterformat .preheaderContainer {
	display:none !important;
}
.newsletterformat .mcnImageBlockOuter {
	max-width:500px !important;
}
.newsletterformat td .mcnButtonContent {
	margin-bottom:20px !important;
}
.newsletterformat h1 {
	border-radius:2px !important;
	margin-bottom:10px !important;
}
.newsletterformat .mc-toc-title {
	border-radius:2px !important;
	margin-bottom:10px !important;
}
.newsletterformat style, .newsletterformat xml, .newsletterformat title {
	display:none;
	height:0;
}
#block-search-form {
/*position:absolute; 
	margin-top:-120px;
	z-index:1000;*/
	}
input.form-text, textarea.form-textarea, select.form-select {
	border: 1px solid #ddd;
	border-radius:50px;
}
button, body a.btn, input[type="submit"], input[type="reset"], input[type="button"] {
	border-radius:50px;
}
.container-wrap {
	max-width: 95%;
	margin: 0px auto;
	overflow: hidden;
}
#page-wrap {
	max-width: 95%;
	margin: 0 auto;
	background: #fff;
}
/*tr.even {
    background-color: #fff !important;
   
}

tr.odd {
    background-color: #eee !important;
	border-bottom:1px sol
   
}

td {
    background: #FFF;
	
    color: #747474;
    text-align: left;
    padding: 10px;
    border: 1px solid #DBDBDB;
}*/

.newsletterformat {
	max-width:600px !important;
}
.newsletterformat table {
	max-width:500px !important;
}
.newsletter-hide {
	display:none;
}
.at-a-glance table {
	border:none !important;
}
#bodyTable {
	border:none !important;
}
.newsletterformat table, .newsletterformat td {
	border:none !important;
	margin:0 !important;
}
.newsletterformat .mcnButton {
	color:#fff !important;
	padding:20px 10px;
}
.newsletterformat .preheaderContainer {
	display:none !important;
}
.newsletterformat .mcnImageBlockOuter {
	max-width:500px !important;
}
.newsletterformat td .mcnButtonContent {
	margin-bottom:20px !important;
}
.newsletterformat h1 {
	border-radius:2px !important;
	margin-bottom:10px !important;
}
.newsletterformat .mc-toc-title {
	border-radius:2px !important;
	margin-bottom:10px !important;
}
.newsletterformat style, .newsletterformat xml, .newsletterformat title {
	display:none;
	height:0;
}
.view-grouping-header .field-name-field-university {
	background-color:#09F;
	padding:10px;
	color:#fff;
}
.print-friendly {
	font-size:11px;
	display:inline;
	margin-left:5px;
}
caption {
	background-color:#076293;
	padding:10px;
	color:#fff;
}
caption a {
	color:#fff;
	text-decoration:none;
}
caption a:hover {
	color:#fff;
	text-decoration:underline;
}
.book_printer {
	display:none !important;
}
.book-navigation .page-links {
	background-color:none;
	margin:20px 0;
}
.book-navigation .page-next {
	text-align: right;
	width: auto;
	display: block;
	float: right;
	background-color:#009688;
	color:#fff;
	padding:5px 10px;
	border-radius:5px;
	text-decoration:none;
	font-weight:bold;
}
.book-navigation .page-previous {
	text-align: right;
	width: auto;
	display: block;
	float: left;
	background-color:#009688;
	color:#fff;
	padding:5px 10px;
	border-radius:5px;
	text-decoration:none;
	font-weight:bold;
}
.book-navigation .page-up {
	display:none;/* width: auto;
    display: block;
	float:left;
	background-color:#009688;
	color:#fff;
	padding:10px;
	border-radius:5px;
	text-decoration:none; */
}
.book-navigation .page-links {
	border-top: 1px solid #eee;
	border-bottom: 0px solid #888;
	text-align: center;
	padding: 0.5em;
}
.submitted {
	font-size:.9em;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: none;
	border: 0px solid rgb(236, 236, 236);
	border-radius: 4px;
	clear: both;
	color: #666;
	display: inline-block;
	margin-top: -10px;
	/*margin-bottom:50px;*/
	margin-bottom:0;
	padding: 2px;
}
.node h2.title, .page-title {
	font-size: 18px;
	margin-bottom: 0;
}
 @media only screen and (min-width: 640px) {
#site-navigation-wrap {
	display:none;
}
.menu-main-container {
	display:none;
}
}
 @media only screen and (max-width: 640px) {
/*nav#main-menu {display:none; height:0;}*/
.top_right {
	margin:0;
}
}
 @media screen and (max-width: 960px) {
.footer_credit {
	margin: 0 -15px;
	padding: 10px !important;
	color: #fff;
}
}
.footer_credit {
	color: #fff !important;
	font-size: 13px;
	border-top: 1px solid #030304;
	padding: 20px;
	margin: 0 -15px;
	overflow: hidden;
	background: #363B44;
}
.footer_credit p {
	width: 50%;
	margin: 0;
	color: #fff;
}







/* All Responsive
================================================== */

@media only screen and (min-width: 640px) {
#sidr-main {
	position: absolute;
	position: fixed;
	top: 0;
	height: 100%;
	z-index: 999999;
	width: 320px;
	overflow-x: none;
	overflow-y: auto;
	font-size: 13px;
	background: #076293;
	color: #fff;
	display:none;
}
}
@media only screen and (max-width: 640px) {
#sidr-main {
	position: absolute;
	position: fixed;
	top: 0;
	height: 100%;
	z-index: 999999;
	width: 320px;
	overflow-x: none;
	overflow-y: auto;
	font-size: 13px;
	background: #076293;
	color: #fff;
}
#main-menu li.expanded >a {
	padding-right: 30px;
	background-image: none;
	background-repeat: no-repeat;
	background-position: right;
}
}
#sidr-main a {
	color: #fff;
	text-decoration:none;
}
 @media only screen and (max-width: 640px) {
.content-sidebar-wrap {
	width:100% !important;
	margin:0;
}
.node h2.title, .page-title {
	font-size: 18px;
	margin-bottom: 20px;
}
#header {
	padding-top:20px;
]
}
/* All Responsive
================================================== */
	a#navigation-toggle {
	height: 55px;
	line-height: 55px;
	float: none;
	margin: 0;
	cursor: pointer;
	color: #fff;
	padding-left: 35px;
	font-weight: 600;
	position: relative;
	z-index: 9;
	text-decoration: none !important;
	display: none;
}
a#navigation-toggle .fa {
	margin-right: 10px;
}
#navigation-toggle {
	color: #fff;
}
#navigation-toggle:hover {
	color: #fff;
}
/*#sidr-main { position: absolute; position: fixed; top: 0; height: 100%; z-index: 999999; width: 320px; overflow-x: none; overflow-y: auto;font-size: 13px; background: #000; color: #fff; }*/
	#sidr-main {
	padding: 50px 30px 30px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.sidr.right {
	left: auto;
	right: -320px;
}
.sidr.left {
	left: -320px;
	right: auto;
}
/*#sidr-main a { color: #707070; }*/
	#sidr-main a:hover {
	color: #fff;
}
#sidr-main ul a {
	display: block;
	border-bottom: 1px solid #222;
	border-bottom: 1px solid rgba(255,255,255,0.15);
	padding: 8px 0;
}
#sidr-main ul li ul {
	margin-left: 0;
	margin: 0;
}
#sidr-main ul li ul li a {
	padding-left: 10px;
}
#sidr-main ul li ul li li a {
	padding-left: 20px;
}
#sidr-main ul li ul li li li a {
	padding-left: 30px;
}
#sidr-main ul li ul li a:before {
	content: '\f0da';
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font-family: 'FontAwesome';
	color: #333;
	margin-right: 10px;
}
.sidr-class-toggle-sidr-close:before {
	font-size: 16px;
	position: absolute;
	top: 15px;
	left: 30px;
	content: '\f00d';
	font-family: 'FontAwesome';
	color: #fff;
	margin: 0;
}
}
@media only screen and (max-width: 959px) {
a#navigation-toggle {
	display: block;
}
/*#site-navigation #main-menu > ul { display: none; }*/
	 body.two-sidebars .content-sidebar-wrap {
	width: 100% !important;
}
}

/* Tablet (Portrait)
================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
.container {
	max-width: 100%;
	width:100%;
}
.left-content {
	width: 60%;
}
.sidebar-container {
	width: 36%;
}
.content-sidebar-wrap {
	width:100% !important;
	margin:0;
}
body.two-sidebars .content-sidebar-wrap {
	width: 100% !important;
}
}



/* Mobile (Portrait & Landscape)
================================================== */
@media only screen and (max-width: 767px) {
.container {
	max-width: 100%;
	width: 100%;
}
.sidebar-container,  .left-content {
	width: 100%;
}
.sidebar-container {
	margin-top: 40px;
	padding-top: 40px;
	border-top: 10px solid #eee;
}
.col {
	width: 100%;
	margin-left: 0;
	margin-bottom: 25px;
}
#wrap {
	margin-top: 0;
	margin-bottom: 0;
}
#header-social {
	clear: both;
	position: inherit;
	top: auto;
	right: auto;
	margin-top: 20px;
}
}
/* Mobile (Landscape)
================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.sidr {
	width: 480px;
}
.sidr.right {
	right: -480px;
}
}
 @media only screen and (min-width: 480px) and (max-width: 767px) {
.sidr {
	width: 480px;
}
.sidr.right {
	right: -480px;
}
}
 @media only screen and (min-width: 767px) {
#site-navigation-wrap {
	display:none;
}
.menu-main-container {
	display:none;
}
}
/* Custom Drop-Down
================================================== */
#navigation .selector option {
	background:#eee;
	-webkit-appearance:none;
	padding: 5px;
}
#navigation .selector, #navigation .selector span {
	cursor: pointer !important;
	-webkit-font-smoothing:antialiased;
}
#navigation .selector, #navigation .selector * {
	margin:0;
	padding:0;
}
#navigation .selector select {
	top:0px;
	left:0px;
}
#navigation .selector {
	width: 100%;
	font-size:12px;
	font-weight:bold;
}
#navigation .selector span:after {
	padding-left: 5px;
	padding-right: 5px;
	content: "\f078";
	font-family: 'FontAwesome';
}
#navigation .selector span {
	cursor:pointer;
}
#navigation .selector {
	height: 30px;
	line-height: 30px;
	display:-moz-inline-box;
	display:inline-block;
	vertical-align:middle;
	zoom:1;
*display:inline;
}
#navigation .selector select:focus {
	outline:0;
}
#navigation .selector {
	position:relative;
	padding-left:10px;
	overflow:hidden;
}
#navigation .selector span {
	display:block;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
#navigation .selector select {
	position:absolute;
	height:35px;
	background:none;
	width:97%;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:12px;
	font-weight:500;
	border:0 !important;
}
/* General
================================================== */

/*hide redundant menu*/
#navigation select {
	display: none;
	width: 100% !important;
}
#navigation .selector {
	display: none;
	margin-top: 5px;
}


/* Apply To All Responsive Layouts
================================================== */
@media only screen and (device-width: 768px) {
}

/* #Tablet (Portrait)
================================================== */

/* Note: Design for a width of 740px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
#wrap {
	width: 680px;
}
#footer-one, #footer-two, #footer-three, #footer-four {
	width: 155px;
}
}

/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 290px */
@media only screen and (max-width: 767px) {
/*hide*/
	.flexslider .caption {
	display: none;
}
/*display dropdown nav*/
	#navigation .selector,  #navigation select {
	display: inline-block;
}
#navigation ul {
	display: none;
}
#navigation {
	padding: 0;
	height: 40px;
	line-height: 40px;
	float: none;
	padding: 0 5px;
	margin: 0;
	background: #3fb7b7;
	color: #fff;
	top: 0;
	right: 0;
	cursor: pointer;
}
#wrap {
	width: 85%;
}
.preface-block, #footer-one, #footer-two, #footer-three, #footer-four {
	width: 230px;
	margin-right: auto;
	margin-left: auto;
}
.flex-direction-nav li a.next,  .flex-direction-nav li a.prev {
	height: 40px;
	width: 25px;
	line-height: 40px;
	margin-top: -20px;
}
body.sidebar-first #content, #content, #sidebar {
	width: 100%;
}
.node h2.title {
	margin-bottom: 10px;
}
#sidebar {
	margin-top: 25px;
	padding-top: 25px;
	border-top: 5px solid #444;
}
.comment .attribution, .comment .comment-text {
	display: inline-block;
}
#copyright, #back-to-top {
	float: none;
	width: 100%;
	text-align: center;
}
.one-half, .one-third, .two-third, .one-fourth, .three-fourth, .one-fifth, .one-sixth {
	width: 100%;
	float: none;
}
.simplemenu-block {
	display:none;
}
}


/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 420px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
#wrap {
	width: 420px;
}
.preface-block, #footer-one, #footer-three {
	width: 200px;
	margin-right: 20px;
}
#footer-two, #footer-four {
	width: 200px;
	margin-right: 0;
}
.responsive-clear {
	clear: both;
}
.simplemenu-block {
	display:none;
}
}
 @media screen and (max-width: 640px) {
#main-menu ul {
	display:inline;
}
}
 @media screen and (max-width: 960px) {
body aside,  body #content,  #top-area .column,  #footer-area .column {
	float: none !important;
	width: 100% !important;
	padding: 0 !important;
	margin: 0 !important;
	clear: both;
}
#footer,  #page-wrap,  #footer_wrapper {
	padding: 0 15px;
}
.top_left,  .top_right,  .two-col-img .region {
	float: none;
	width: 100%;
	overflow: hidden;
	text-align: center;
}
#logo,  #site-title {
	display: inline-block;
	text-align: center;
	float: none;
	vertical-align: top;
}
.top_right {
	margin-bottom: 0;
}
.field-name-field-images .field-item {
	width: 50%;
}
.footer_credit {
	padding: 10px;
}
.slideshow-wrap {
	padding: 0;
}
}
 @media screen and (max-width: 640px) {
#main-menu ul {
	display: none;
}
#main-menu li ul {
	position: static;
	border: 0;
}
#main-menu li ul ul {
	margin: 0 !important;
	border: 0;
}
#main-menu ul,  #main-menu li {
	float: none;
	width: 100%;
}
#main-menu {
	border: 0;
	float: none;
}
#main-menu a {
	width: 100%;
	padding: 12px;
	color: #fff;
	background: #1976D2;
	border-radius: 0;
	margin: 0;
	text-align: center;
	border-bottom: 1px solid #6ABBDF;
}
#main-menu a:HOVER {
	color:#fff!important;
}
#main-menu li:hover >a {
	color: #fff;
}
#main-menu li a.active {
	background: #1976D2;
}
#main-menu li li a {
	text-align: center;
	font-size: 14px;
	background: #6AA9EF;
	border-top: 1px solid #3F88DA;
	color: #fff!important;
	padding: 12px;
	border-bottom: 0;
}
#main-menu li li a:HOVER {
	color:#fff!important;
}
#main-menu li:hover > ul,  #main-menu li li:hover > ul,  #main-menu li li li:hover > ul {
	display: none;
}
#main-menu li.expanded >a {
	background-image: none;
	padding-left: 0;
	padding-right: 0;
}
.drop-down-toggle {
	display: block;
}
#main-menu .nav-toggle {
	display: block;
	font-size: 15px;
	font-weight: normal;
	background: #1976D2;
	color: white;
	margin: 0;
	letter-spacing: 1px;
	text-align: left;
	padding: 15px;
}
#main-menu .nav-toggle a, #main-menu .nav-toggle a:hover {
	color:#fff;
}
#main-menu .nav-toggle::before {
	font-family: "FontAwesome";
	font-weight: 100;
	content: " \f0c9";
	color:#fff;
	padding-right:10px;
}
#main-menu ul.menu li {
	margin: 0;
	width: 100%;
}
.theme-default .nivo-caption {
	display: none !important;
}
}
 @media screen and (max-width: 440px) {
.field-name-field-images .field-item {
	width: 100%;
}
.footer_credit p {
	width: 100%;
	text-align: center;
}
}
 @media screen and (min-width: 641px) {
#main-menu > ul.menu {
	display: inline-block !important;
}
}
